.groupChild {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-13xl);
  background-color: var(--color-white);
}
.groupChild,
.lift,
.lift1 {
  position: absolute;
}
.lift1 {
  top: 0;
  left: 0;
}
.lift {
  height: 18.76%;
  top: 2.83%;
  bottom: 78.41%;
  left: calc(50% - 172.5px);
  width: 345px;
}
.rectangleParent {
  position: absolute;
  height: 109.53%;
  width: 121.97%;
  top: 0;
  right: -13.04%;
  bottom: -9.53%;
  left: -8.92%;
}
.playAgain1 {
  position: relative;
}
.playAgain {
  position: absolute;
  height: 10.66%;
  top: 91.31%;
  bottom: -1.97%;
  left: calc(50% - 125.5px);
  border-radius: var(--br-base);
  background-color: var(--color-cadetblue-100);
  display: flex;
  flex-direction: row;
  padding: var(--padding-11xs) var(--padding-33xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--color-white);
  font-family: var(--font-mina);
}
.uiChild {
  position: absolute;
  top: 140px;
  left: calc(50% - 177.5px);
  width: 356px;
  height: 294px;
  overflow: hidden;
}
.ui {
  width: 437px;
  height: 515.85px;
  text-align: left;
  font-size: var(--font-size-77xl);
  color: var(--color-cadetblue-100);
  font-family: var(--font-monofett);
}
