.next1 {
  position: absolute;
  cursor: pointer;
  border: 1px solid red;
  width: 200px;
  height: 50px;
  opacity: 0;
}
.next {
  position: absolute;
  color: green;
  left: 60%;
  top: 52%;
  cursor: pointer;
}
