.playAgain {
  position: relative;
}
.playagain {
  border-radius: var(--br-base);
  background-color: var(--color-cadetblue-100);
  display: flex;
  flex-direction: row;
  padding: var(--padding-11xs) var(--padding-33xl);
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--color-white);
  font-family: var(--font-mina);
}
