.next1 {
  position: absolute;
  cursor: pointer;
  border: 1px solid red;
  width: 270px;
  height: 100px;
  opacity: 0;
  z-index: 100;
}

.next {
  position: absolute;
  color: green;
  left: 55%;
  top: 45%;
  cursor: pointer;
}