.backgroundIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 3819px;
  height: 1307.5px;
}
.locationCupertino {
  position: relative;
}
.locationCupertinoParent {
  position: absolute;
  top: 501px;
  left: 509px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
}
.hillsIcon,
.towerIcon {
  position: absolute;
  top: 499px;
  left: 0;
  width: 708px;
  height: 323px;
}
.towerIcon {
  top: 0;
  left: 283.51px;
  width: 359.9px;
  height: 499.4px;
}
.red,
.target1,
.targetChild,
.targetIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 166px;
}
.target1 {
  border-radius: var(--br-5xs);
  background-color: var(--color-indianred);
  height: 29.09px;
}
.red,
.targetChild,
.targetIcon {
  height: 8.85px;
}
.red,
.targetChild {
  top: 92.87px;
  left: 1px;
  height: 29.09px;
}
.targetChild {
  top: 54.13px;
  left: 67.74px;
  width: 30.27px;
  height: 26.21px;
}
.landHere,
.rSide,
.target {
  position: absolute;
  top: 0;
  left: 0;
}
.rSide,
.target {
  top: 460px;
  left: 298px;
  width: 167px;
  height: 121.96px;
}
.rSide {
  top: 426px;
  left: 1796px;
  width: 708px;
  height: 822px;
  color: var(--color-white);
  font-family: var(--font-russo-one);
}
.lSideIcon,
.treeIcon,
.water {
  position: absolute;
  top: 237px;
  left: 0;
  width: 505px;
  height: 393px;
}
.lSideIcon,
.water {
  top: 617px;
  width: 708px;
  height: 635px;
}
.water {
  top: 1150px;
  background-color: var(--color-paleturquoise);
  width: 2504px;
  height: 98px;
}
.defaultPlaneIcon {
  position: absolute;
  height: 25%;
  width: 7.76%;
  top: 59.62%;
  right: 79.3%;
  bottom: 15.38%;
  left: 12.94%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.groupChild,
.groupItem {
  position: absolute;
  border-radius: var(--br-9xs);
}
.groupChild {
  height: 58.99%;
  width: 28.5%;
  top: 0;
  right: 35.37%;
  bottom: 41.01%;
  left: 36.14%;
  background-color: #f96c67;
}
.groupItem {
  height: 44.97%;
  width: 74.65%;
  top: 52.2%;
  right: 12.67%;
  bottom: 2.83%;
  left: 12.67%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rectangleParent,
.tv1Inner {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.tv1Inner {
  height: 6.58%;
  width: 2.96%;
  top: 60.66%;
  right: 81.63%;
  bottom: 32.76%;
  left: 15.42%;
}
.groupInner {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  border-radius: var(--br-13xl);
  background-color: var(--color-white);
}
.groupInner,
.lift1 {
  position: absolute;
  top: 0;
  left: 0;
}
.lift,
.rectangleGroup {
  position: absolute;
  height: 21.13%;
  width: 50.8%;
  top: 4.26%;
  right: 24.49%;
  bottom: 74.6%;
  left: 24.71%;
}
.rectangleGroup {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: left;
  font-family: var(--font-monofett);
}
.nextWrapper {
  position: absolute;
  height: 9.33%;
  width: 64.94%;
  top: 79.91%;
  right: 17.36%;
  bottom: 10.76%;
  left: 17.7%;
  border-radius: var(--br-5xs);
  background-color: var(--color-cadetblue-300);
  display: flex;
  flex-direction: row;
  padding: var(--padding-11xs) var(--padding-33xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  color: var(--color-white);
}
.uiChild {
  position: absolute;
  height: 38.19%;
  width: 85.23%;
  top: 31.02%;
  right: 7.35%;
  bottom: 30.79%;
  left: 7.42%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.highLift {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.highLiftWrapper {
  position: absolute;
  height: 7.37%;
  width: 20.82%;
  top: 38%;
  right: 39.82%;
  bottom: 54.64%;
  left: 39.36%;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
}
.uiWrapper {
  position: absolute;
  height: 56.66%;
  width: 23.92%;
  top: 16.59%;
  right: 38.06%;
  bottom: 26.76%;
  left: 38.02%;
  font-size: 128px;
  color: var(--color-cadetblue-300);
}
.vectorIcon,
.vectorIcon1,
.vectorIcon2 {
  position: absolute;
  top: 1034px;
  left: 149px;
  width: 47px;
  height: 22px;
}
.vectorIcon1,
.vectorIcon2 {
  top: 595px;
  left: 106px;
}
.vectorIcon2 {
  top: 607px;
  left: 297px;
  width: 21px;
  height: 10px;
}
.ameliaIcon,
.vectorIcon3 {
  position: absolute;
  top: 986px;
  left: 1874px;
  width: 47px;
  height: 22px;
}
.ameliaIcon {
  height: 8.25%;
  width: 3.47%;
  top: 41.19%;
  right: 88.26%;
  bottom: 50.56%;
  left: 8.27%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rectangleDiv,
.tv1Child,
.tv1Child1,
.tv1Child2,
.tv1Child3,
.tv1Child4,
.tv1Child5,
.tv1Child6,
.tv1Item {
  position: absolute;
  top: 550px;
  left: 325px;
  background-color: var(--color-gray);
  box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.9);
  width: 4px;
  height: 4px;
}
.rectangleDiv,
.tv1Child1,
.tv1Child2,
.tv1Child3,
.tv1Child4,
.tv1Child5,
.tv1Child6,
.tv1Item {
  top: 525px;
  left: 346px;
  width: 6px;
  height: 6px;
}
.rectangleDiv,
.tv1Child1,
.tv1Child2,
.tv1Child3,
.tv1Child4,
.tv1Child5,
.tv1Child6 {
  top: 387px;
  left: 2201px;
  width: 4px;
  height: 4px;
}
.tv1Child1,
.tv1Child2,
.tv1Child3,
.tv1Child4,
.tv1Child5,
.tv1Child6 {
  top: 327px;
  left: 2247px;
  width: 6px;
  height: 6px;
}
.tv1Child2,
.tv1Child3,
.tv1Child4,
.tv1Child5,
.tv1Child6 {
  top: 870px;
  left: 2069px;
  width: 4px;
  height: 4px;
}
.tv1Child3,
.tv1Child4,
.tv1Child5,
.tv1Child6 {
  top: 838px;
  left: 2041px;
  width: 6px;
  height: 6px;
}
.tv1Child4,
.tv1Child5,
.tv1Child6 {
  top: 850px;
  left: 534px;
  width: 4px;
  height: 4px;
}
.tv1Child5,
.tv1Child6 {
  top: 820px;
  left: 553px;
  width: 6px;
  height: 6px;
}
.tv1Child6 {
  top: 925px;
  left: 649px;
  width: 8px;
  height: 8px;
}
.tv1 {
  position: relative;
  background: linear-gradient(-89.4deg, rgba(0, 159, 201, 0.37), transparent),
    linear-gradient(
      -86.3deg,
      rgba(123, 230, 255, 0.46),
      rgba(104, 206, 126, 0.46)
    ),
    linear-gradient(
      154.19deg,
      rgba(102, 233, 255, 0.4),
      rgba(255, 255, 255, 0.25)
    ),
    #75e6ff;
  width: 100%;
  height: 1248px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--color-darkslategray);
  font-family: var(--font-mina);
}
