.lift1 {
  position: absolute;
  top: 0;
  left: 0;
}
.lift {
  width: 222px;
  height: 109px;
  text-align: left;
  font-size: var(--font-size-77xl);
  color: var(--color-cadetblue-100);
  font-family: var(--font-monofett);
}
