.groupChild {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-13xl);
  background-color: var(--color-white);
}
.lift {
  position: absolute;
  height: 18.76%;
  top: 5.66%;
  bottom: 75.58%;
  left: calc(50% - 137.5px);
  width: 276px;
}
.rectangleParent {
  position: absolute;
  height: 109.53%;
  width: 121.97%;
  top: 0;
  right: -13.04%;
  bottom: -9.53%;
  left: -8.92%;
  color: var(--color-cadetblue-100);
  font-family: var(--font-monofett);
}
.launch {
  position: absolute;
  height: 10.66%;
  top: 91.31%;
  bottom: -1.97%;
  left: calc(50% - 99.5px);
  border-radius: var(--br-base);
  background-color: var(--color-cadetblue-100);
  display: flex;
  flex-direction: row;
  padding: var(--padding-11xs) var(--padding-33xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--color-white);
}
.meliaselectedChild {
  position: absolute;
  height: 51.18%;
  top: 30.24%;
  bottom: 18.58%;
  left: calc(50% - 204.5px);
  max-height: 100%;
  width: 427.31px;
}
.thrust {
  position: relative;
}
.meliaselectedInner,
.thrustParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.thrustParent {
  width: 93px;
}
.meliaselectedInner {
  position: absolute;
  height: 12.21%;
  top: 35.48%;
  bottom: 52.31%;
  left: calc(50% - 120.5px);
  font-size: var(--font-size-smi);
}
.div,
.wrapper {
  position: absolute;
  top: 0;
  left: 0;
}
.wrapper {
  height: 7.37%;
  width: 8.47%;
  top: 70.18%;
  right: 18.08%;
  bottom: 22.46%;
  left: 73.46%;
  text-align: center;
  font-size: var(--font-size-5xl);
}
.meliaselected {
  width: 437px;
  height: 515.85px;
  text-align: left;
  font-size: var(--font-size-77xl);
  color: var(--color-black);
  font-family: var(--font-mina);
}
